<div class="main-page-body">
	<div class="suite-scrollable-image-container">
		<%= image_tag("mansfield/IMG_0334.jpg") %>
		<%= image_tag("mansfield/IMG_0332.jpg") %>
		<%= image_tag("mansfield/IMG_3940.jpg") %>
		<%= image_tag("mansfield/IMG_3409.jpg") %>
	</div>
	<div class="suite-title">Mansfield Suite</div>
	<div class="suite-basics">
		<div class="suite-basic-text">3 Bedrooms</div>
		<div class="suite-basic-text">1.5 Bathrooms</div>
		<div class="suite-basic-text">Sleeper Sofa</div>
		<div class="suite-basic-text">Full Kitchen</div>
		<div class="suite-basic-text">Washer/Dryer</div>
	</div>
	<div class="suite-about-left-container">
		Located at 109 Main Street in Stowe village, our suites are the perfect getaway spot! Spacious living and comfortable sleeping areas give you a birds-eye view of the action in quaint downtown Stowe. Your suite has a fully stocked kitchen and dining area for 6. Just steps away, visit world-class restaurants, pubs, coffee houses, and shopping. Two stores are even located on the first floor of our building:  The Country Store on Main- a beautiful kitchen and bath store, and Stowe Public House- a craft beer, wine, and cheese merchant with tasting room and small plate offerings. Cultural and recreational opportunities abound right out your door, including Stowe Community Church, Helen Day Art Center, Stowe Free Library, Stowe Recreation Path, Stowe Arena, and more, all a short walk away. Take the Mountain Road Shuttle to skiing and shopping, or drive just minutes to Stowe Mountain Resort (Alpine and Nordic skiing, skating pond, Performing Arts Center, etc.), Trapp Family Lodge and many other local attractions.
		<p>Enjoy our wonderful town!</p>
		<%= link_to('Book Now!', 'https://www.airbnb.com/rooms/16017177', :class => "book-now")%>
	</div>
	<div class="suite-about-right-container">
		<div class="suite-about-container">
			<div class="suite-about-centered-container">
				<div class="suite-about-header">Amenities</div>
				<div class="suite-about-description">LG Washer/Dryer</div>
				<div class="suite-about-description">5 ghz and 2.4 ghz high speed internet</div>
				<div class="suite-about-description">42" TV with Roku hookup</div>
				<div class="suite-about-description">Iron and Hairdryer</div>
			</div>
		</div>
		<div class="suite-about-container">
			<div class="suite-about-centered-container">
				<div class="suite-about-header">Kitchen</div>
				<div class="suite-about-description">Dishwasher</div>
				<div class="suite-about-description">Microwave</div>
				<div class="suite-about-description">Keurig Coffee Maker</div>
				<div class="suite-about-description">Toaster</div>
				<div class="suite-about-description">9 person dining</div>
			</div>
		</div>
		<div class="suite-about-container">
			<div class="suite-about-centered-container">
				<div class="suite-about-header">Sleeping Arrangements</div>
				<div class="suite-about-description">Bedroom 1: Queen Bed</div>
				<div class="suite-about-description">Bedroom 2: Queen Bed</div>
				<div class="suite-about-description">Bedroom 3: Trundle Bed- 2 twin beds</div>
				<div class="suite-about-description">Living Room: Queen Sleeper Sofa</div>
			</div>
		</div>
		<div class="suite-about-container">
			<div class="suite-about-centered-container">
				<div class="suite-about-header">The not-so-fun details</div>
				<div class="suite-about-description">Weekly discount!</div>
				<div class="suite-about-description">Cleaning fee: $80</div>
				<div class="suite-about-description">Security deposit: $500</div>
				<div class="suite-about-description">Strict cancellation policy</div>
				<div class="suite-about-description">Weekly discount: 30%</div>
				<div class="suite-about-description">No smoking or pets</div>
				<div class="suite-about-description">Check in: 3-5PM</div>
				<div class="suite-about-description">Check out: 10AM</div>
			</div>
		</div>
	</div>
</div>