<div class="main-page-body">
	<div class="suite-scrollable-image-container">
		<div class="more-image"></div>
		<%= image_tag("sterling/sterling0.jpg") %>
		<%= image_tag("sterling/sterling1.JPG") %>
		<%= image_tag("sterling/sterling15.png") %>
		<%= image_tag("sterling/sterling2.jpg") %>
		<div class="rotate-ninety">
			<%= image_tag("sterling/sterling3.JPG") %>
		</div>
		<%= image_tag("sterling/sterling4.JPG") %>
		<%= image_tag("sterling/sterling5.JPG") %>
		<div class="rotate-ninety">
			<%= image_tag("sterling/sterling6.JPG") %>
		</div>
		<div class="rotate-ninety">
			<%= image_tag("sterling/sterling7.JPG") %>
		</div>
		<div class="rotate-ninety">
			<%= image_tag("sterling/sterling8.JPG") %>
		</div>
		<div class="rotate-ninety">
			<%= image_tag("sterling/sterling9.JPG") %>
		</div>
	</div>
	<div class="suite-title">Sterling Suite</div>
	<div class="suite-basics">
		<div class="suite-basic-text">2 Bedroom (Queen)</div>
		<div class="suite-basic-text">1.5 Bathroom</div>
		<div class="suite-basic-text">Sleeper Sofa</div>
		<div class="suite-basic-text">Full Kitchen</div>
	</div>
	<div class="suite-about-left-container">
		Located on Main Street in Stowe village, our suites are the perfect getaway!  Spacious living and sleeping areas give you a birds-eye view of the action in quaint downtown Stowe.  Fully-stocked kitchen for those nights in; dining room table to seat you and five of your closest friends or enemies.  Walk out the door to visit world-class restaurants, pubs, coffee shops, and more.  Two stores are even located in-building! The Country Store on Main- a kitchen and bath store, and Stowe Public House- a craft beer, wine, and cheese merchant with tasting room and lunch offerings.  Cultural opportunities abound, including the Stowe Community Church and Helen Day Art Center a short walk away.  We are minutes by car from Stowe Mountain Resort, Trapp Family Lodge & hundreds of other local attractions.
		<%= link_to('Book Now!', 'https://www.airbnb.com/rooms/14570440', :class => "book-now")%>
	</div>
	<div class="suite-about-right-container">
		<div class="suite-about-container">
			<div class="suite-about-centered-container">
				<div class="suite-about-header">Amenities</div>
				<div class="suite-about-description">Washer/Dryer</div>
				<div class="suite-about-description">5G high-speed internet</div>
				<div class="suite-about-description">48" Samsung TV with Roku hookup</div>
				<div class="suite-about-description">Walk out the door to explore downtown Stowe!</div>
			</div>
		</div>
		<div class="suite-about-container">
			<div class="suite-about-centered-container">
				<div class="suite-about-header">Kitchen</div>
				<div class="suite-about-description">Dishwasher</div>
				<div class="suite-about-description">Microwave</div>
				<div class="suite-about-description">Keurig Coffee Maker</div>
				<div class="suite-about-description">Toaster</div>
				<div class="suite-about-description">6 person dining room table</div>
			</div>
		</div>
		<div class="suite-about-container">
			<div class="suite-about-centered-container">
				<div class="suite-about-header">Sleeping Arrangements</div>
				<div class="suite-about-description">Bedroom 1: Queen Bed</div>
				<div class="suite-about-description">Bedroom 2: Queen Bed</div>
				<div class="suite-about-description">Living Room: Sleeper Sofa</div>
			</div>
		</div>
		<div class="suite-about-container">
			<div class="suite-about-centered-container">
				<div class="suite-about-header">The not-so-fun details</div>
				<div class="suite-about-description">Cleaning fee: $50</div>
				<div class="suite-about-description">Security deposit: $500</div>
				<div class="suite-about-description">Strict cancellation policy</div>
				<div class="suite-about-description">Weekly discount: 30%</div>
				<div class="suite-about-description">No smoking or pets</div>
				<div class="suite-about-description">Check in: 3-5PM</div>
				<div class="suite-about-description">Check out: 10AM</div>
			</div>
		</div>
	</div>
</div>