<div class="about-building-container">
	<%= image_tag("building/building0.jpg", :class => "about-building-image") %>
</div>
<div class="main-container">
	<div class="about-building-text-container">109 Main was originally two buildings, Buzzell's Variety Store (right) and a brick home (left).  This photo is 109 Main St. circa 1908</div>
</div>
<div class="about-building-container">
	<%= image_tag("building/building1.jpg", :class => "about-building-image") %>
</div>
<div class="main-container">
	<div class="about-building-text-container">109 Main was remodeled in 2016. The Lackey family had owned the building since the 1960s, living in the red brick building and running the Lackey Store for over 50 years.  In addition, there were four apartments upstairs that had not been occupied since the 1960s. The entire building had major structural issues that needed to be addressed, leading to a gutting and reinforcement of the original post and beam architecture. Newly redesigned and updated, the apartment and shop spaces have been brought into the 21st century while preserving their historical quality. From bedroom dormers to original wood flooring and exposed beams where possible, the authentic charm of the building remains intact.</div>
</div>
<div class="about-building-container">
	<%= image_tag("building/building2.jpg", :class => "about-building-image") %>
</div>
<div class="main-container">
	<div class="about-building-text-container">Old meets new!  109 Main welcomes the <%= link_to('British Invasion', 'http://www.britishinvasion.com/')%>, a celebration of great British motorcars through the years.  Although the <%= link_to('The Country Store on Main', 'http://www.countrystorevt.com/')%>, <%= link_to('Stowe Public House', 'https://stowepublichouse.com/')%>, and <%= link_to('Brenna B Interiors', 'https://www.brennabinteriors.com/')%> are all open for business!</div>
</div>